{% load sekizai_tags %}

<html>
  <head>
      {% block head %}{% endblock %}
      {% render_block "css" %}
  </head>

  <body>
      {% block base_content%}{% endblock %}

      {% render_block "js" %}
  </body>
</html>
