{% extends 'base.html' %}
{% load picasagallery_tags %}
{% load i18n %}
{% load sekizai_tags %}

{% block head %}
{% include 'picasagallery/pphoto.html' %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}picasagallery/css/base.css"
          type="text/css" media="screen" charset="utf-8" />
{% endaddtoblock %}

{% endblock %}

{% block base_content %}
{#    <a href='{% url picasagallery.views.picasagallery %}' >{% trans "Back to gallery" %}</a> #}
    <p>{% trans "Album:" %} {{ album.title.text }}</p>
    <div class='gallery'>
        {% for photo in photos %}
            <div class='image-preview-div'>
                <a class='image-preview-link' style='{% thumbnail_style photo %}'
                                              rel='gallery-image[pp_gal]' href='{{ photo.content.src }}'>
                    <img class='image-preview-img'
                                style='{% thumbnail_style photo %}'
                            {% if photo.title %}
                                alt='{{ photo.title.text }}'
                            {% endif %}
                            src='{%  thumbnail_url photo %}'>
                </a>
            </div>
        {% endfor %}
        <p>
            <a href='{{ album.GetHtmlLink.href }}' target='_blank'>{% trans "Show in Google Picasa" %}</a>
        </p>
    </div>
{% endblock %}
